@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/*landing mobile*/
body{
  font-family: $font-text;
  font-size: 18px;
  line-height: $interlignage;
  color: $color-text;
}

.p-large{
  font-weight: 700;
  font-family: $font-text;
  font-size: 18px;
  line-height: $interlignage;
  color: $color-text;
}

.p-large--mod{
  margin-bottom: 50px;
}

.p-large--carte{
  text-align: center;
}

.p-fonctio{
  margin-bottom: 100px;
}

.title-landing{
  font-size: $size-text;
  color: $color-text;
  margin-bottom: 50px;
}

@media (min-width: 1000px){
  body{
    font-size: 25px;
    line-height: 1.4;
  }

  .title-landing{
    font-size: 35px;
    margin-top: 0;
  }

  .p-large{
    font-size: 25px;
  }
}