body{
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
}

.proto_final{
    width: 335px;
}

@media (min-width: 500px){
    .proto_final{
        width: 390px;
    }
    .version{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    .marge-left{
        margin-left: 18px;
    }
 
    .marge-right{
        margin-right: 18px;
    }

    .user-journey{
        width: 600px;
    }

    .slider{
        position: relative;
        margin: auto;
    }

    .slide{
        width: 500px;
    }

    .precedent, .suivant{
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 15px;
        color: $color-text;
        transition: 1s ease;
        user-select: none;
    }

    .precedent:hover, .suivant:hover{
        background-color: #000607;
    }

    .suivant{
        right: 0;
    }

    .deco{
        animation-duration: 2s;
        animation-name: deco;
    }

    @keyframes deco {
        from{opacity: 5}
        to{opacity: 1;}
    }
}

@media (min-width: 1000px){
    .proto_final{
        width: 390px;
    }
    
    .version{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
   .marge-left{
       margin-left: 18px;
   }

   .marge-right{
       margin-right: 18px;
   }

   .marge-top{
       margin-top: 18px;
   }

   .marge-top--170{
    margin-top: 170px;
}

   .marge-top--188{
       margin-top: 188px;
   }

   .marge-top--250{
    margin-top: 250px;
}
   .marge-top--218{
       margin-top: 265px;
   }

   .marge-top--288{
    margin-top: 288px;
    }

    .marge-top--290{
        margin-top: 290px;
    }

   .marge-top--368{
       margin-top: 368px;
   }

   .marge-top--415{
        margin-top: 415px;
    }


   .margin-bottom{
       margin-bottom: 135px;
   }

   .img{
       width: 650px;
   }

   .img-large{
       width: 1000px;
   }
}