.dwt{
    height: 35px;
}

.footer{
    border-top: 3px solid $color-text;  
}

.foo{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding-left: 18px;
    padding-right: 18px;
}