ul{
    list-style-type: none;
}

a{
    outline: none;
    text-decoration: none;
    font-weight: 700;
    list-style-type: none;
    color: $color-text;
}

a:visited{
    color: #74d1b1;
}

a:focus{
    background-color: #02484e;
}

a:hover{
    color: #78D1FF;
}

a:active{
    background-color: #78D1FF;
    color: #011C1E;
}

li{
    list-style-type: "–";
    list-style-position: outside;
}

.li{
    list-style-type: decimal;
    list-style-position: outside;
}

.li-footer{
    list-style-type: none;
}