body{
    background-color: $body-bg-color;
}

.denivele{
    background-image: url(../assets/images/landing/dénivelé.svg);
    background-repeat: no-repeat;
    width: 1290px;
    height: 120px;
}

.denivele--02{
    background-image: url(../assets/images/landing/denivlé02.svg);
}

.denivele--03{
    background-image: url(../assets/images/landing/denivlé03.svg);
}

.denivele--04{
    background-image: url(../assets/images/landing/denivele04.svg);
}