body{
    background-color: $body-bg-color;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.main{
    margin-left: 18px;
    margin-right: 18px;
    max-width: 1400px;
}

.video{
    width: 325px;
}

.anim{
    overflow: hidden;
}

.logo-app{
    width: 100vw;
    height: 100vh;
    background-size: contain;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 325px;
}

.logo-app__el{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.denivele{
    background-image: url(../assets/images/landing/dénivelé.svg);
    background-repeat: no-repeat;
    background-position: bottom center;
    height: 100px;
    margin-bottom: 125px;
    margin-top: 18px;
}

.denivele--02{
    background-image: url(../assets/images/landing/denivlé02.svg);
}

.denivele--03{
    background-image: url(../assets/images/landing/denivlé03.svg);
}

.denivele--04{
    background-image: url(../assets/images/landing/denivele04.svg);
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.button__el{
    background-color: $bt-bg;
    color: $bt-color;
    text-transform: $bt-text-maj;
    padding: 15px;
    border: none;
    border-radius: 30px;
    font-weight: $bt-text-weight;
    font-size: $bt-text-size;
}

.button__el:visited{
    color: $bt-color;
}

.button__el:hover, .button__el:focus{
    background-color: #ade2fd;
}

.button__el:active{
    background-color: #2db7fd;
}

.photo{
    width: 325px;
    margin: 0;
    padding: 0;  
}

.photo--ui{
    width: 200px;
    margin-bottom: 36px;
}

.fig{
    margin: 0;
    padding: 0;
}

.store{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 200px;
}

.parcours{
    border-radius: 20px;
}

.parcours--mod{
    margin-bottom: 18px;
}





/*tablette*/
@media (min-width: 500px){

    .p-large--carte{
        margin-bottom: 34px;
    }

    .logo-app{
        width: 500px;
    }

    .denivele{
        height: 200px;
        margin-top: 50px;
        margin-bottom: 120px;
    }

    .section2{
        display: flex;
        justify-content: space-around;
        flex-direction: row-reverse;
        align-items: center;
    }

    .section2--mod{
        margin-right: 32px;
    }

    .carte{
        text-align: center;
        margin-bottom: 100px;
    }

    .carte__el{
        width: 600px;
    }

    .fonctionnalite{
        display: flex;
        justify-content: space-between;
    }


    .fonctionnalite--left{
        flex-direction: row-reverse;
    }

    .fonc-marge-l{
        margin-left: 34px;
        display: flex;
        align-items: center;
    }

    .fonc-marge-r{
        margin-right: 34px;
        display: flex;
        align-items: center;
    }

    .text-right{
        text-align: right;
    }

    .div-parcours{
        display: flex;
        justify-content: space-between;
    }

    .store{
        display: flex;
        justify-content: space-around;
    }

    .p-large--mod{
        margin-bottom: 100px;
    }

    .video{
        width: 350px;
    }

    .button__el{
        margin-top: 80px;
    }

    .title-landing--mod{
        margin-bottom: 0;
    }

    .photo--ui{
        width: 150px;
        margin-left: 36px;
        margin-right: 36px;
    }
}



/*desktop*/
@media (min-width: 1000px){
    .denivele{
        height: 250px;
    }

    .fonctionnalite{
        display: block;
    }
    
    .photo{
        width: 450px;
    }

    .carte__el{
        width: 800px;
    }

    .video{
        width: 500px;
    }

    .logo-app{
        width: 700px;
    }

    .button{
        display: block;
    }

    .button-desk{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .relief{
        width: 300px;
        height: 300px;
    }

    .section2{
        margin-left: 26px;
        display: block;
    }

    .marge-0{
        margin-top: 0;
    }

    .inverse{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .inverse--mode{
        margin-left: 50px;
        margin-right: 50px;
    }

    .photo--fonct{
        width: 400px;
    }

    .store{
        display: flex;
        justify-content: center;
    }

    .store__el{
        margin-left: 18px;
        margin-right: 18px;
    }

    .marge02{
        margin-left: 36px;
    }

    .photo--ui{
        width: 200px;
        margin-left: 36px;
        margin-right: 36px;
    }
}