.decouverte{
    background-image: url(../assets/images/velo-landing-bg.jpg);
    width: 325px;
    border-left: 10px solid $bt-bg;
    margin-top: 80px;
}

.depassement{
    border-left: 10px solid $bt-bg;
    margin-top: 80px;
    width: 325px;
    background-image: url(../assets/images/landing/depassement_small_bg.jpg);
}

.com{
    background-color: $bg-image;
    border-radius: 30px;
    background-size: 310px;
}

.filtre{
    background-color: $bg-image;
    border-radius: 30px;
    background-size: 310px;
}

.créer{
    background-color: $bg-image;
    border-radius: 30px;
    background-size: 310px;
}

.parcours--tel{
    background-image: url(../assets/images/landing/mockup-parcours-bg.jpg);
    width: 325px;
    border-radius: 20px;
}

.parcours--mod{
    background-image: url(../assets/images/landing/mockup-gps-bg.jpg);
}

@media (min-width: 500px){
    
    .decouverte{
        width: 500px;
    }

    .depassement{
        width: 500px;
        margin-top: 34px;
        text-align: right;
    }
}

@media (min-width: 1000px){
    .decouverte{
        margin-top: 0;
    }
}