

/*Type landing*/
$size-text: 25px;
$interlignage: 1.4;
$font-text: 'Bai Jamjuree', sans-serif;
$color-text: #F0F4FC;
$size-title: 35px;
$bg-image: #E5E5E5;


/*Body*/
$body-bg-color: #011C1E;


/*Bouton*/
$bt-bg: #78D1FF;
$bt-color: #011C1E;
$bt-text-maj: uppercase;
$bt-text-weight: bold;
$bt-text-size: 18px;


/*case-study*/
$p-color: #9bb6eb;
$h3-color: #bccef2;
$h2-color:#dfe8f9;
$h1-color:#F0F4FC;
$interlignage-case: 1.6;