

/*Type landing*/
$size-text: 25px;
$interlignage: 1.4;
$font-text: 'Bai Jamjuree', sans-serif;
$color-text: #F0F4FC;
$size-title: 35px;


/*Body*/
$body-bg-color: #011C1E;

/*Bouton*/
$bt-bg: #78D1FF;
$bt-color: #011C1E;
$bt-text-maj: uppercase;
$bt-text-weight: bold;
$bt-text-size: 18px;


